:root {
  --dark-color: #222222;
  --theme-color: #333333;
  --accent-color: #1f8f80;
  --light-color: #e1e1e1;
}


body {
  font-family: roboto, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: var(--light-color);
}


/* Globals */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.highlight {
  color: var(--accent-color);
}

ul {
  margin: 0;
  padding: 0;
}

/* Main */
#main_section {
  width: 100%;
  height: 100vh;
  
  background-image: url("../imgs/main/bg_image.png");
}

#main_section .container {
  height: 0;
  width: 80%;
  padding-top: 40%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  margin: auto;
  
  text-align: center;
  background: rgba(51, 51, 51, 0.9);
  color: var(--light-color);
}

#main_section .container p{
  width: 100%;
  
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 3.5vw;
  
  margin-bottom: 10px;
}

#main_section .container #circle_portrait {
  height: 40%;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dwn_arrow {
  height: 5%;
  
  opacity: 0;
  
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* Prevents user from dragging image around */
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#dwn_arrow:hover {
  content :url("../imgs/main/arrow_hover.png");
}


/* Header */
header {
  background: rgba(34, 34, 34, 0.95);
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 35px;
  width: 100%;
}

header nav {
  float: left;
  padding-left: 20px;
}

header a {
  color: var(--light-color);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 20px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header ul {
  float: left;
}

header .current a, header .current a:hover {
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

header a:hover {
  color: var(--accent-color);
}


/* About Me */
#about_me_section {
  width: 100%;
}

#about_me_section .container {
  text-align: center;
  margin-top: 30px;
}

#about_me_section h1 {
  display:inline-block;
  text-align: center;
  opacity: 0;
  padding-bottom: 0;
  font-size: 0px;
  border-bottom: 4px solid var(--theme-color);
}

#about_me_info {
  width: 80%;
  overflow: visible;
}

#carleton_logo img {
  float: left;
  width: 10%;
  transform: translateX(-50%);
  padding-right: 0px;
}

#about_me_info p {
  font-size: 25px;
}



